@charset "utf-8";

#container {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 85% 15%;
    margin: 0 auto;
    padding-bottom: auto;
}

.main-content {
    position: relative;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 30px;
}

.title-content {
    background: rgba(240, 240, 240, 1.00);
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-shadow: 0 5px 5px 0 white;
    padding: 5px 0 0px 10px;
    margin: 0 0 10px 0;
}

.catalogue-header-title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

.filter-select {
    padding: 0;
    margin-right: 10px;
    box-sizing: border-box;
}

.title-content .filter-select span {
    font-size: 13px;
    margin-right: 10px;
}

#select {
    width: 120px;
    height: 30px;
    padding: 5px;
    outline: none;
}

.content-clothes {
    margin-top: 35px;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 20%);
    column-gap: 70px;
    row-gap: 50px;
    justify-content: center;
    transition: 0.5s;
}

.content-clothes .item-products {
    position: relative;
    width: 270px;
    height: 450px;
    cursor: pointer;
    text-align: center;
    transition: 0.5s;
    box-shadow: 0 0 2px 0 #b2bec3;
}

.content-clothes .item-products .item-img {
    width: 100%;
    height: 70%;
    transition: 0.5s;
    border-bottom: 1px solid #dfe6e9;
}

.proi {
    text-align: left;
    margin: auto;
}

.proi h4 {
    text-align: center;
    font-size: 15px;
    color: #333;
    text-transform: capitalize;
    padding: 2px 3px;
    margin: 0px;
}

.proi span {
    text-align: center;
    font-size: 16px;
    color: #0D0576;
    margin: 5px 0px 5px 0px;
    display: block;
    font-weight: bold;
}

.proi span.sale {
    color: #f00;
}

.proi span em,
.proi span.sale em {
    font-size: 14px;
    color: #0D0576;
    margin-left: 5px;
    font-weight: normal;
    font-style: normal;
    text-decoration: line-through;
}

.filter-main {
    margin-left: 20px;
}

.btn-filter {
    display: none;
}

.filter-price {
    width: 100%;
}

.fa-solid,
.fas {
    font-weight: 900;
}

.filter-price h3 {
    font-family: Times New Roman;
    margin-bottom: 30px;
}

.item-filter {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    font-size: 17px;
    user-select: none;
}

.item-filter input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}